.Navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    align-items: center;
    border-bottom: solid 1px #fff;
}

.logo {
   font-size: 40px;
}

.home {
    text-decoration: none;
    color: #fff;
}

.about {
    text-decoration: none;
    color: #fff;
}

.Gallery {
    text-decoration: none;
    color: #fff;
}

.Social {
    text-decoration: none;
    color: #fff;
}