.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    align-items: center;
    border-bottom: solid 1px #fff;
}

.logo {
   font-size: 40px;
   margin-left: 10px;
}

.home {
    text-decoration: none;
    color: #fff;
}

.about {
    text-decoration: none;
    color: #fff;
}

.Gallery {
    text-decoration: none;
    color: #fff;
}

.Social {
    text-decoration: none;
    color: #fff;
}

.Contact {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background-color: slategray;
    margin-right: 10px;
    cursor: pointer;
}